<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>205806916918-2254nqup013vvu77bqrv4acusjievhas.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.205806916918-2254nqup013vvu77bqrv4acusjievhas</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>205806916918-dimk4n1bp13psvu2p8ci1vdhmacpl5dn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDXkSypYVjvKOfbLHmJ95gfL0caLo8Zy_M</string>
	<key>GCM_SENDER_ID</key>
	<string>205806916918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shebaFinancial</string>
	<key>PROJECT_ID</key>
	<string>shebafinancial</string>
	<key>STORAGE_BUCKET</key>
	<string>shebafinancial.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205806916918:ios:395e4aeb897fec87ee8f97</string>
</dict>
</plist>